/* MacBook Pro Screen */
/* 13" macbook pro */
@media (max-width: 1440px) and (min-width: 1000px) {
  .polaroid {
    display: flex;
    position: relative;
    margin: -70px auto 0 auto;
    justify-content: center;
    z-index: 30;
    filter: drop-shadow(30px 20px 15px black);
    }
  .logo {
    display: flex;
    position: relative;
    margin: 20px 0 0 20px;
    justify-content: center;
    z-index: 30;
  }
  .caption {
    display: flex;
    margin: 60px auto -40px auto;
    padding-bottom: -40px;
    justify-content: center;
    z-index: 30;
    color: #e07a7a;
    position: relative;
    font-family: Brush Script MT, cursive;
    font-size: 30px
  }
  .divPreview {
    display: flex;
    overflow: hidden;
    background-color: black;
    margin: -540px auto -40px auto;
    z-index: 10;
    max-width: 400px;
    height: 400px;
    object-fit: fill;
  }
  .divPreviewImage {
    display: flex;
    position: relative;
    flex-shrink: 10;
    overflow: hidden;
    z-index: 1;
    min-width: 100%;
    max-width: 35vw;
  }
  .fileUpload {
    display: flex;
    margin: 0px auto;
    text-align: center;
    justify-content: center;
    margin-top: 110px;
    color: white;
    z-index: 10;
    inline-size:135px;
  }
  .restart {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 30;
    background-color: #70966d;
    color: white;
    border: none;
    padding: 5px 30px;
    border-radius: 30px;
    margin: 2vh auto 0 auto
  }
  .restart:hover {
    background-color: #577a55;
  }
    .smino {
    display: flex;
    position: absolute;
    height: 600px;
    margin-top: -50vh;
    justify-content: center;
    z-index: 30;
  }
    .containerStyle {
      background-image: url("../public/froPick.png");
      background-size: cover;
      height: 100vh;
      width: 100%;
      overflow: hidden;
      margin: 0;
      border: 20px solid #e07a7a;
      z-index: 20;
    }
}

/* 15" macbook pro and bigger */
@media (min-width: 1441px) {
  .polaroid {
    display: flex;
    position: relative;
    margin: -70px auto 0 auto;
    justify-content: center;
    z-index: 30;
    filter: drop-shadow(30px 20px 15px black);
  }

  .logo {
    display: flex;
    position: relative;
    margin: 20px 0 0 20px;
    justify-content: center;
    z-index: 30;
  }

  .caption {
    display: flex;
    margin: 60px auto -40px auto;
    padding-bottom: -40px;
    justify-content: center;
    z-index: 30;
    color: #e07a7a;
    position: relative;
    font-family: Brush Script MT, cursive;
    font-size: 30px
  }

  .divPreview {
    display: flex;
    overflow: hidden;
    background-color: black;
    margin: -540px auto -40px auto;
    z-index: 10;
    max-width: 400px;
    height: 400px;
    object-fit: fill;
  }

  .divPreviewImage {
    display: flex;
    position: relative;
    flex-shrink: 10;
    overflow: hidden;
    z-index: 1;
    min-width: 100%;
    max-width: 35vw;
  }

  .fileUpload {
    display: flex;
    margin: 0px auto;
    text-align: center;
    justify-content: center;
    margin-top: 110px;
    color: white;
    z-index: 10;
    inline-size: 135px;
  }

  .restart {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 30;
    background-color: #70966d;
    color: white;
    border: none;
    padding: 5px 30px;
    border-radius: 30px;
    margin: 2vh auto 0 auto
  }

  .restart:hover {
    background-color: #577a55;
  }

  .smino {
    display: flex;
    position: absolute;
    height: 600px;
    margin-top: -50vh;
    justify-content: center;
    z-index: 30;
  }

  .containerStyle {
    background-image: url("../public/froPick.png");
    background-size: cover;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    margin: 0;
    border: 20px solid #e07a7a;
    z-index: 20;
  }
}
/* iphone Pro */
@media (max-width: 700px) {
  .polaroid {
    display: flex;
    position: relative;
    height: 425px;
    margin-left: -100px;
    margin-top: -100px;
    z-index: 30;
    /* filter: drop-shadow(30px 20px 15px black); */
  }
  .logo {
    display: flex;
    position: relative;
    margin: 10px auto 0 auto;
    justify-content: center;
    z-index: 40;
  }
  .caption {
    display: flex;
    margin: -25px auto -10px auto;
    padding-bottom: -40px;
    justify-content: center;
    z-index: 30;
    color: #e07a7a;
    position: relative;
    font-family: Brush Script MT, cursive;
    font-size: 22px
  }
  .divPreview {
    display: flex;
    overflow: hidden;
    background-color: black;
    margin: -400px auto -50px auto;
    z-index: 10;
    max-width: 280px;
    height: 370px;
    object-fit: fill;
  }
  .divPreviewImage {
    display: flex;
    position: relative;
    flex-shrink: 10;
    overflow: hidden;
    z-index: 1;
    min-width: 100%;
    max-width: 35vw;
    /* max-width: 35vw; */
  }
  .fileUpload {
    display: flex;
    margin: 0px auto;
    text-align: center;
    justify-content: center;
    margin-top: 110px;
    color: white;
    z-index: 10;
    inline-size: 136px;
  }
  .restart {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 30;
    background-color: #70966d;
    color: white;
    border: none;
    padding: 5px 30px;
    border-radius: 30px;
    margin: 2vh auto 0 auto
  }
  .restart:hover {
    background-color: #577a55;
  }
  .smino {
    display: flex;
    position: absolute;
    height:300px;
    margin-top: -3vh;
    margin-left: -2vh;
    justify-content: center;
    z-index: 30;
  }
    .containerStyle {
    background-image: url("../public/froPick.png");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    margin: 0;
    border: 20px solid #e07a7a;
    z-index: 20;
    }
}

/* macbook pro is max width of 1440px x height of 900px



*/